
html,
body {
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  
}

body {

  background: linear-gradient(to left, #f591a2, #f54991);
  
  
}
.image-valentine{
  margin-top: 8%;
}


.positioning{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-around;

}
