
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.button-container{
    display: flex;
    flex-direction: row;
    gap:5%;
    
 
}

.my_button_yes, .my_button_no{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:white;
    border:5px solid white;
    background: #f55899;
    padding:1.6rem 5rem 1.5rem 5rem;
    border-radius:5rem;
    font-size:1.8rem;
    line-height:1em;
    letter-spacing:0.075em;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
}

.agree-check{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.my_button_yes:hover{
 
    color: rgb(0, 252, 0);
    border-color: rgb(0, 252, 0);
    transform: scale(1.00); 
}

.my_button_no:hover{
   
    color: red;
    border-color: red;
    transform: scale(1.00); 
}
.disabled {
    opacity: 0.5;
    pointer-events: none; 
    cursor: not-allowed;
}